@font-face {
    font-family: "OngleleafBuhungJiyoung";
    font-weight: 300;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/wefonts/OngleleafBuhungJiyoung/OngleleafBuhungJiyoung.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/wefonts/OngleleafBuhungJiyoung/OngleleafBuhungJiyoung.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/wefonts/OngleleafBuhungJiyoung/OngleleafBuhungJiyoung.ttf") format("truetype");
    font-display: swap;
}

.OngleleafBuhungJiyoung {
    font-family: "OngleleafBuhungJiyoung";
}
